.field {
    margin-bottom: var(--double-spacing);
}
.field--tight {
    margin-bottom: var(--base-spacing);
    margin-top: -10px;
}

.field__label {
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.field__label a {
    text-transform: none;
}

.field__item {
    flex: 1;
    display: flex;
    align-items: center;
}
.field__item + .field__item {
    margin-top: var(--base-spacing);
}

.field--last {
    margin-bottom: 0;
}

.field__text-input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    /*color: var(--accent);*/
    padding: 0 0;
    /*border-radius: 5px;*/
    border: 0;
    border-bottom: 1px dashed #e4e4e4;
    flex: 1;
    font-family: monospace;
}
.field__text-link {
    display: block;
    width: 100%;
    font-size: 12px;
}

.field__text-input--dir {
    font-size: 12px;
    font-family: monospace;
}

.field__text-input[disabled] {
    /*background: #e4e4e4;*/
    border-bottom:0;

}

.field__text-input:focus {
    outline: 0;
}

.field__controls {
    margin-left: var(--base-spacing);
}

.field__inputs--right {
    text-align: right;
}
